* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 80vh;
  max-height: 80vw;
  padding: 8px;
}

header {
  height: 50px;
  width: 100vw;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

footer {
  height: 50px;
  width: 100vw;
  background-color: grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  }

body {
  font-family: Roboto, sans-serif;
  color: rgb(59, 59, 59);
  background-color: rgb(202, 202, 202);
  min-height: calc(100vh - 100px);
  width: 100vw;
  font-size: 16px;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}


.img-gallery {
  width: 80%;
  margin: 25px auto 25px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  
}

.img-gallery img {
  height: 150px;
  padding: 10px;
  cursor: pointer;
  object-fit: cover;
}

.img-gallery img:hover {
  cursor: pointer;
  background-color: grey;
}

.onePic {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.showOnePic {
  display: flex;
}

.d-none {
  display: none;
}
.image-wrapper {
display: flex;

}
.detailViewWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-button{
  width: 50px;
  height: 50px;
}

.show-button:hover {
  cursor: pointer;
}


@media(max-width: 768px){
  
  .detailViewWrapper{
    flex-direction: column;
    padding: 8px;
  }
  }


@media(max-width: 480px){
  img{
    width: 380px;
  }}


  @media(max-width: 400px){
    img{
      width: 300px;
    }}
  